<div class="row mx-auto text-center">
    <h1 class="text-center col-12">Nous contacter :</h1>
    {% include 'partials/_separator.html.twig' %}
</div>
<form action="" method="post" id="form_contact">
    <div class="form-group">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
</form>