<footer class="footer mt-5 bg-dark p-2 text-center">
    <div class="container">
        <span class="text-muted">©2020 JS Événementiel - <a id="rgpd_footer" class="footer_link" href="#" target="_blank">Politique de confidentialité</a></span>
        <div id="socials" class="mx-auto">
            <div class="my-2 text-center mx-auto align-items-center">
                <div class="mb-2 text-white">Nous suivre : </div>
                <a href="https://www.facebook.com/JS-%C3%A9v%C3%A9nementiel-C-dric-114446729478920/" target="_blank"><i class="footer_link fab fa-facebook fa-2x"></i></a>
                <a href="https://www.instagram.com/cdricjsevent" target="_blank"><i class="footer_link fab fa-instagram fa-2x ml-3"></i></a>
                <a href="mailto:jsevents42@gmail.com"><i class="footer_link fab fa-google fa-2x ml-3"></i></a>
            </div>
        </div>
    </div>
</footer>