@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gayathri-Bold';
    src: url('../fonts/Gayathri-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gayathri-Regular';
    src: url('../fonts/Gayathri-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gayathri-Thin';
    src: url('../fonts/Gayathri-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Aubrey';
    src: url('../fonts/walkwatbold.ttf');
}
   
/***************** GENERAL *********************/

html {
    width: 100%;
}

body {
    font-family: 'Roboto-Regular' !important;
    font-size: 1em;
    width: 100%;
    margin: 0;
}

h1 {
    font-family: 'Aubrey' !important;
}

footer {
    bottom: 0;
}

.avatar_mini {
    width: 80px;
    height: 80px;
}

.avatar_medium {
    width: 250px;
    height: auto;
    border-radius: 50% !important;
}

.title {
   color: white;
   font-family: "Roboto-bold";
}

.title_blue {
    color: #5cadd3;
    font-family: "Roboto-bold";
    margin-bottom: 0 !important;
 }

 .fa-arrow-circle-down:hover {
     color: #5cadd3;
     cursor: pointer;
 }

 @keyframes height_div {
     from {
         transform: scaleY(0);
     }
     to {
         transform: scaleY(1);
     }
 }

 /***************** GENERAL - SEPARATOR *********************/

 .separator {
     display: flex; 
     align-items: center;
 }
 .line {
     width: 5em;
     height: 0.1em;
     background-color: silver;
 }
 .round {
     width: 1em;
     height: 1em;
     border-radius: 50%;
     background-color: #5cadd3;
     border: 2px solid transparent;
     margin-left: 0.2em;
     margin-right: 0.2em;
 }

 .round_white {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: white;
    border: 2px solid transparent;
    margin-left: 0.2em;
    margin-right: 0.2em;
}


/***************** NAVBAR *********************/
#nav_desktop {
    position: fixed !important;
    z-index: 1000;
    width: 100%;
    top: 0;
}
#nav_md_xs {
    display: none;
}

.logo_navbar {
    width: 120px;
    height: auto;
}

nav div li a {
    padding: 1em;
    border-bottom: 2px solid transparent;

}
nav div li a:hover {
    color: #5cadd3 !important;
    border-bottom: 2px solid #5cadd3;
    animation: rebound_link 0.5s ease;
}

.nav-link:focus {
    color: #5cadd3 !important;
}

@keyframes rebound_link {
    from {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    70% {
        transform: translateY(5px);
    }
    to {
        transform: translateY(-5px);
    }
}

/***************** SLIDER *********************/


#slider_container{
    padding: 0 !important;
}

#slider {
    margin-top: 130px;
}

/***************** INTRODUCE *********************/

#introduce, #deliveries {
    background-color: #5cadd3;
}

/***************** NEWS *********************/

#all_news {
    height: 300px; 
    overflow: auto;
}

/***************** DELIVERIES *********************/

.delivery_options {
    display: none;
    animation: height_div 0.5s forwards;
}
